<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mongo Scraper</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Bungee+Inline|Cinzel+Decorative|Diplomata|Fredericka+the+Great|Sancreek|UnifrakturMaguntia" rel="stylesheet">

  </head>
  <body>

    {{{body}}}

    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
  </body>
</html>